@model Tuple<List<Utilisateur>, List<string>>
@{
    ViewBag.Title = "Liste des enseignants";
}

<div id="partial-content-container" style="padding : 2%">
    <div class="card">
        <h4 class="card-header"> <b>Les encadrants affectés selon le type de stage:</b></h4>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="dark">
                    <tr>
                        <th>Nom de l'enseignant</th>
                        <th>Type de stage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var enseignant in Model.Item1)
                    {
                        var typeStage = Model.Item2[Model.Item1.IndexOf(enseignant)];
                        <tr>
                            <td><a href="/Home/Profiles?id=@enseignant.Id">@enseignant.Nom @enseignant.Prenom</a></td>
                            <td>@typeStage</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

