
@{
    ViewBag.Title = "Modifier un Rapport";
}

        @if (ViewBag.modifier != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-check"></i> Rapport modifié !</h5>
                Le rapport a été modifier avec succès.
            </div>
            ViewBag.modifier = null;
        }
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-primary bg-light text-dark text-center py-3 ">
                        <h1>Bienvenue sur la page de Modification de rapport</h1>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("ModifierRapport", "Etudiant", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
                <div class="form-group">
                    <label for="newPdf">Importer votre nouvelle version du rapport :</label>
                    <div class="col-md-9 col-sm-9">
                        <input type="file" name="newPdf" accept=".pdf" class="form-control-file" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9">
                        <select disabled name="type" class="form-control">
                            <option selected name="type" value="@ViewBag.RapportType">@ViewBag.RapportType</option>
                        </select>
                    </div>
                </div>
                <input type="text" hidden name="type" value="@ViewBag.RapportType" />
                <input type="number" hidden name="RappId" value="@ViewBag.RapportId"/>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                        <button type="submit" class="btn btn-primary">Modifier le rapport</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                        <button asp-action="VosRapports" class="btn btn-primary">Annuler</button>
                    </div>
                </div>
        }
   
@section style{
    <style>
        .form-horizontal .control-label {
            text-align: left;
        }

        .form-horizontal .form-control-file {
            display: block;
            height: calc(2.25rem + 10px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    </style>
}