@model Tuple<List<Utilisateur>, List<string>>
@{
    ViewBag.Title = "Liste des étudiants";
}



<div id="partial-content-container" style="padding : 2%">
    <div class="card">     
    <h4 class="card-header"><b>Les étudiants affectés selon le type de stage</b></h4>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nom de l'etudiant</th>
                            <th>Type de stage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var etudiant in Model.Item1)
                        {
                            var typeStage = Model.Item2[Model.Item1.IndexOf(etudiant)];
                            <tr>
                                <td><a href="/Home/Profiles?id=@etudiant.Id">@etudiant.Nom @etudiant.Prenom</a></td>
                                <td>@typeStage</td>
                            </tr>
                        }
                    </tbody>
                </table>
            
        </div>
    </div>
</div>
