@model AjouterEtudiantViewModel
@{
    ViewBag.Title = "Ajouter Etudiant";
}
<div id="partial-content-container">
    <div class="hold-transition register-page">
        @if (ViewBag.ajoutNV != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-check"></i> Etudiant Ajouté !</h5>
                L'étudiant @Model.Prenom @Model.Nom a été ajouté avec succès.
            </div>
            ViewBag.ajoutNV = null;
        }
        <div class="register-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a class="h1"><b>Ajouter</b>Etudiant</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Remplir les champs pour ajouter un étudiant</p>

                    <form method="post">
                        <div class="input-group mb-3">
                            <input type="text" asp-for="Nom" class="form-control" placeholder="Nom de l'étudiant">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" asp-for="Prenom" class="form-control" placeholder="Prénom de l'étudiant">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" asp-for="CNE" class="form-control" placeholder="CNE">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="input-group mb-3">
                            <input type="email" asp-for="Email" class="form-control" placeholder="L'Email de l'étudiant">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                       
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Mot de passe">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" asp-for="RetryPassword" class="form-control" placeholder="Confirmer le mot de passe">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                       
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Filière :</label><br />
                            <select id="inputStatus" asp-for="Filiere" class="form-control custom-select">
                                <option selected disabled>-- Choisir la filière --</option>
                                <option>INFO</option>
                                <option>INDUS</option>
                                <option>GMSA</option>
                                <option>GESI</option>
                                <option>GTR</option>
                                <option>SEII</option>
                            </select>
                       
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Niveau :</label><br />
                            <select id="inputStatus" asp-for="Niveau" class="form-control custom-select">
                                <option selected disabled>-- Choisir le niveau --</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" onclick="confirm('Voulez-vous vraiment ajouter cet étudiant ?')" class="btn btn-primary btn-block">Ajouter</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <div class="text text-danger" asp-validation-summary="All"></div>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>
    </div>
</div>